@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-silver: #707070;
  --cultured: #f6f6f6;
  --gainsboro: #dadada;
  --darkboro: #b5b5b5;
  --daveys-gray: #5e5e5e;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--gainsboro);
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: white;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

ul {
  list-style: none;
}

h1 {
  color: var(--daveys-gray);
  font-size: 1.1em;
}

.top_container,
.list_item,
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_container {
  padding: 0.6em;
}

i {
  cursor: pointer;
}

i:hover {
  color: var(--daveys-gray);
}

.fa-rotate,
.fa-ellipsis-vertical {
  color: var(--darkboro);
}

.fa-ellipsis-vertical:hover {
  cursor: move;
}

.fa-trash-can {
  display: none;
}

.show {
  display: block;
}

.fa-trash-can:hover {
  color: tomato;
  cursor: pointer;
}

.fa-arrow-turn-down {
  color: var(--gainsboro);
  font-size: 0.8em;
}

form {
  position: relative;
}

form button {
  appearance: none;
  background: none;
  border: none;
}

.list_input,
.list_item {
  padding: 0.6em;
  width: 100%;
  border: 1px solid var(--gainsboro);
  border-left: none;
  border-right: none;
  outline: none;
}

.list_input {
  padding: 1em;
}

.list_input::placeholder {
  font-style: italic;
  font-weight: 500;
  font-size: 1.1em;
}

.list_item {
  color: var(--daveys-gray);
  border-top: none;
}

.description {
  margin-inline-start: 0.4em;
  font-size: 0.9em;
}

.add_task {
  position: absolute;
  bottom: 0.9em;
  right: 0.6em;
}

.clear_completed {
  width: 100%;
  appearance: none;
  border: none;
  display: block;
  padding: 0.5em;
  background-color: var(--cultured);
  height: 40px;
  color: var(--darkboro);
  font-weight: 600;
  cursor: pointer;
}

.blur_text {
  color: transparent;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}